<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header class="header">

        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="">
        </a>

        <nav class="headbar">
            <a href="{{ url_for('home') }}">Home</a>
            {% if session.username == 'admin' %}
            <a href="http://127.0.0.1:8000/docs">API</a>
            {% endif %}
            {% if session.authenticated %}
            <a href="{{ url_for('user_page', user_id=session.uid) }}">{{ session.username }}</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
            <a href="{{ url_for('doctors') }}">Doctors</a>
            <a href="{{ url_for('medicine') }}">Medicine</a>
            <a href="{{ url_for('service') }}">Service</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            {% if session.authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>


        <div class="menubtn">
            <button>Helpline</button>
        </div>
        {% block header %}
        {% endblock %}

        
    </header>

    {% block body %}
    {% endblock %}

</body>
</html>