{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/changepass.css') }}">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block body %}
<div class="container" id="container">
        <form action="{{ url_for('forgotPass') }}" method="POST">
            <br>
            <h1>Forgot Password</h1>

            <br>

            <div class="input-field">
                <i class="fa fa-user"></i>
                <input type="text" name="login" placeholder="Username" required>
            </div>
            <div class="input-field">
                <i class="fa fa-lock"></i>
                <input type="password" name="newPassword" placeholder="Password" required>
            </div>

            <input type="submit" class="button" value="Sign In" style="margin-top: 30px; margin-bottom: 30px;">
        </form>
</div>
{% endblock %}