{% extends 'base.html' %}


{% block title %}
Contact
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block body %}
<section class="top" id="top">
    <div class="con">
        <h1 class="heading">Our Experts</h1><hr>
    </div>

    <div class="wrapper">
        {% for creator in creators %}
        <div class="container">
            <div class="img-wrapper">
                <img src="{{ url_for('static', filename='image/i1.png') }}" alt="">
            </div>

            <div class="details">
                <h3> {{ creator.creator_name }} {{ creator.creator_surname }} </h3>
                <h5> {{ creator.creator_role }} </h5>

                <div class="social-icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>
        {% endfor %}

        
    </div>
</section>

<section class="bottom" id="bottom">
    <div class="con">
        <h1 class="heading">LOCATION</h1><hr>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5011.887241055718!2d71.41892371478808!3d51.0910479896302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2sau!4v1700417402351!5m2!1sru!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

{% endblock %}