{% extends 'base.html' %}


{% block title %}
Contact
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block body %}
<section class="top" id="top">
    <div class="con">
        <h1 class="heading">Our Experts</h1><hr>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="img-wrapper">
                <img src="{{ url_for('static', filename='image/i4.png') }}" alt="">
            </div>

            <div class="details">
                <h3>Carolina</h3>
                <h5>Internal Medicine | 5 years exp</h5>

                <div class="social-icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="img-wrapper">
                <img src="{{ url_for('static', filename='image/i3.png') }}" alt="">
            </div>

            <div class="details">
                <h3>Rosiee</h3>
                <h5>Dermatology | 10 years exp</h5>

                <div class="social-icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="img-wrapper">
                <img src="{{ url_for('static', filename='image/i2.png') }}" alt="">
            </div>

            <div class="details">
                <h3>Smith</h3>
                <h5>Cardiology | 19 years exp</h5>

                <div class="social-icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="img-wrapper">
                <img src="{{ url_for('static', filename='image/i1.png') }}" alt="">
            </div>

            <div class="details">
                <h3>John</h3>
                <h5>ENT | 25 years exp</h5>

                <div class="social-icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bottom" id="bottom">
    <div class="con">
        <h1 class="heading">LOCATION</h1><hr>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d320668.45270979754!2d71.50158234999999!3d51.1043588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424580c47db54609%3A0x97f9148dddb19228!2z0JDRgdGC0LDQvdCwLCDQmtCw0LfQsNGF0YHRgtCw0L0!5e0!3m2!1sru!2sau!4v1700145241871!5m2!1sru!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

{% endblock %}