{% extends 'base.html' %}

{% block title %}
Medicine Page
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/medicine.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block header %}
<div class="icon">
    <div class="fa fa-search" id="search-btn"></div>
    <div class="fa fa-upload" id="up-btn"></div>
</div>

<form class="search-form" action="{{ url_for('medicine') }}" method="POST">
    <div>
        <input type="text" name="search" id="search-box" placeholder="Type Something...">
    </div>
    <label for="search-box" class="fa fa-search"></label>
        <input type="submit" style="width: 10%;" value="search">
</form>

<div class="upload-form">
    <input type="file" class="default-btn" hidden>
    <div class="btn">
        <button onclick="active()" class="custom-btn">Upload Prescription</button>
    </div>
    <div class="file-name">No file Chosen</div>
</div>

{% endblock %}


{% block body %}

<!--Medicine Section-->

<section class="top" id="top">
    <div class="container">
        <h1 class="heading">PRODUCTS</h1><hr>
    </div>

    <!--box-container-->
    
    <div class="box-container">
    
        <!--img-box-->
        {% for product in products %}
        <div class="box">
            <div class="slide-img">
                <img src="{{ url_for('static', filename='image/' ~ product.product_image) }}" alt="">

                <!--overlay-->
                <div class="overlay">
                    <p> {{ product.product_description }} </p>
                    <a href="#" class="learn-btn">Learn More</a>
                </div>
                <!--overlay-->
            </div>
            <!--star-->
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
            <!--star-->

            <!--detail-box-->
            <div class="detail-box">

                <!--type-->
                <div class="type">
                    <a href="#"> {{ product.product_name }} </a>
                    <span>new arrival</span>
                </div>
                <!--type-->

                <!--price-->
                <a href="#" class="price">${{ product.product_price }}</a>
                <!--price-->
            </div>

            <!--button-->

            <a href="#" class="my-button" title="b-title">Order Now</a>

            <a href="{{ url_for('cart', product_id=product.product_id) }}" class="my-button" title="b-title">Add to cart</a>
            <!--button-->
        </div>
        {% endfor %}

    <!--box-container-->

</section>

<script src="{{ url_for('static', filename='js/medicine.js') }}"></script>
{% endblock %}